.controls {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.picker .input {
  display: none;
}

.picker .button {
  border: 0;
  padding: 0.5rem 1.5rem;
  background: #a4b6ae;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
}

.picker .button:hover,
.picker .button:focus {
  background: #b3cbc6;
}

.preview {
  width: 11rem;
  height: 11rem;
  border: 2px solid #a4bfb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4bcb5;
  position: relative;
}

.preview p {
  margin: 0;
  padding: 1rem;
}

.preview img {
  object-fit: cover;
}
